@import url('https://fonts.googleapis.com/css?family=Lemonada|Ranga|Roboto+Slab|Open+Sans');

body, html {
    font-family: "Open Sans", sans-serif;

    color: white;
    background-color: black;

    margin: 1em;
    padding: 1em;

    cursor: default;
    user-select: none;
}

section {
    float: left;
    max-width: 63%;

    margin-top: 1em;
    margin-left: 1em;

    margin-bottom: 1em;
}

aside {
    width: 30%;
    float: right;

    min-height: 50vh;
    border: 1px solid white;
}

h1 {
    margin: 0;
    padding: 0;
    font: 4em "Roboto Slab";
    font-weight: normal;
}

h2 {
    font-family: Ranga;;
    font-weight: normal;

    margin-top: 0;
    margin-left: 7px;
    margin-bottom: 2em;

    display: inline;
    color: yellow;
}

blockquote {
    line-height: 2em;
    font-size: 1.5em;
    font-family: Lemonada;
}

.begin-quote:before {
    position: absolute;
    left: -40px; top: -30px;

    display: block;
    content: "\201C";
    font: 250% Lemonada;
}

.end-quote:after {
    content: "\201D";
    font: 100% Lemonada;
}

.dbox {
    width: 30%;
    position: fixed;
    top: 20%; right: 0;

    margin: 2em;
    border: 1px solid white;

    padding: 1em;
}

.dbox-word {
    font-size: 2em;
    font-weight: bold;
    font-family: "Roboto Slab";

    margin-bottom: 0.5em;
}

.dbox-definition {
    font-family: "Open Sans";
}

img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
    height: auto;
}

#rose {
    width: 35%;
    float: right;
}
#woods {
    margin: 1em;
    float: right;
    height: 20em;
    filter: contrast(3);
}
#peaches {
    float: left;
    margin: 1em;
    filter: grayscale(100%);
}
#arm-map {
    width: 100%;
    filter: contrast(1) brightness(80%);
}
#boy {
    width: 40%;
    float: left;
    filter: grayscale(100%) contrast(1) brightness(30%);
}
#globe {
    width: 40%;
    float: right;
    margin-left: 20px;
}

.sat {
    filter: saturate(10) contrast(3);
}

.tone {
    color: #333;
    padding: 0 2px;
    display: inline;
    background-color: pink;
}
