@import url('https://fonts.googleapis.com/css?family=Lemonada|Ranga|Roboto+Slab|Open+Sans');

body, html {
    font-family: "Open Sans", sans-serif;

    color: white;
    background-color: black;

    margin: 1em;
    padding: 1em;

    cursor: default;
    user-select: none;
}

section {
    float: left;
    max-width: 63%;

    margin-top: 1em;
    margin-left: 1em;
}

aside {
    width: 30%;
    float: right;

    min-height: 50vh;
    border: 1px solid white;
}

h1 {
    font: 4em "Roboto Slab";
    font-weight: normal;
}

p {
    
}
